#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#contacts3-2 P {
  color: #000000;
}
#contacts3-2 DIV {
  color: #000000;
}
#footer1-3 P {
  color: #fcf60a;
  text-align: center;
}
